@model List<Product>;
@{
    ViewData["Title"] = "Product Page";
    var products = Model;
    var categories = ViewBag.Category;
}

<div class="text-center">
    <h1 class="display-4">Welcome Product</h1>
    @using (Html.BeginForm())
    { 
        <p>
            Find by name: @Html.TextBox("searchName")  
            <div class="form-group">
                <label for="Category">Category</label>
                <select class="form-control" id="CategoryId" name="CategoryId">
                    <option value="0" selected>__all__</option>
                    @foreach (var category in categories)
                    {
                        @if(@ViewData["CategoryId"].ToString() == category.Id.ToString())
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                        
                    }
                </select>
            </div>
            <input type="submit" value="Search" class="btn btn-primary"/>
        </p>

    }


    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Catagory</th>
            <th>
                <a href="Product/Create/" class="btn btn-primary">Create</a>
            </th>
        </thead>
        <tbody style=" color: white;">
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                    <td>@product.Category.Name</td>
                    <td>
                        <a href="/Product/Update?id=@product.Id" class="btn btn-success">Update</a>
                        <a href="Product/Delete?id=@product.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            
            
        </tbody>
        
    </table>
</div>